body
{
  display: flex;
  flex-direction: column;
}

#title
{
  padding-top: 5vw;

  position: fixed;
  bottom: 4vh;
}

.restarted
{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("resources/repeat.png");
  animation: scaleBackground 200ms ease-in-out 0s 1 normal forwards;

  position: fixed;
}


@keyframes scaleBackground
{
    0%
    {
      background-size: 0 0;
    }

    100%
    {
      background-size: 40% 40%;
    }
}


@media (max-width: 680px){
  #title
  {
    flex-basis: 70vh;
    max-width: 80vw;
  }
}
