.restarted
{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("resources/repeat.png");
  animation: scaleBackground 200ms ease-in-out 0s 1 normal forwards;
}

*
{
  touch-actions: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes scaleBackground
{
    0%
    {
      background-size: 0 0;
    }

    100%
    {
      background-size: 40% 40%;
    }
}
